* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif;
 }

/*header style*/
header {
   color: #000;
   font-size: 1rem;
   font-weight: bold;
   font-style: italic;
   padding: 100 2rem;
   text-align: center;
   justify-content: space-between;
 }
 
 /*creating the two-column layout*/
 *{
    box-sizing: border-box;
 }
 .row {
    display: flex;
    flex-wrap: wrap;
 }

 .post-text-box {
    flex: 70%;
    padding: 20px;
 }
 .profile {
    flex: 70%;
    padding: 20px;
 }
 /*profile image and heading style*/
 .profile img {
    width: 120px;
    display: block;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
 }

 .column-left{
   align-items: center;
 }
 .profile h1 {
    text-align: center;
 }

/*navigation bar style */
nav{
    text-align: center;
    word-spacing: 30px;
    padding: 10px;
    background-color: #f5f5dc;
    font-family: Helvetica;
}
/*navigation bar button style*/
nav a {
    color: black;
    text-decoration: none;
    font-size: larger;
}
footer{
    text-align: center;
    background-color: #f5f5dc;
    color: #000;
   font-weight: bold;
   padding: 100 2rem;
   justify-content: space-between;
}
.container-footer{
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.container-footer-below{
   padding: 9px;
   font-weight: bold;
}

.col{
   display: flex;
   flex-direction: row;
}

button {
   padding: 1rem 3rem;
   font-size: 1.05rem;
   font-weight: bold;
   border: none;
   color: #000000;
   background: #f5f5dc;
   cursor: pointer;
   border-radius: 50px;
   text-align: center;
   justify-content: space-between;
 }

 button:hover {
   background: #d1d152;
   font-size: larger;
   color: #000;
 }