* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif;
 }

/*header style*/
header {
   color: #000;
   font-size: 1rem;
   font-weight: bold;
   font-style: italic;
   padding: 100 2rem;
   text-align: center;
   justify-content: space-between;
 }

 .container {
   display: flex;
   padding: 30px;
   align-items: center;
   justify-content: flex-start;
}
.container img {
   max-width: 200%;
   height: 250px;
   margin-right: 20px;
}
.container .text {
   max-width: 600px;
}

/*navigation bar style */
nav{
    text-align: center;
    word-spacing: 30px;
    padding: 10px;
    background-color: #f5f5dc;
    font-family: Helvetica;
}
/*navigation bar button style*/
nav a {
    color: black;
    text-decoration: none;
    font-size: larger;
}
footer{
    text-align: center;
    background-color: #f5f5dc;
    color: #000;
   font-weight: bold;
   padding: 100 2rem;
   justify-content: space-between;
}

.container-footer-below{
   padding: 9px;
   font-weight: bold;
}

button {
   padding: 1rem 3rem;
   font-size: 1.05rem;
   font-weight: bold;
   border: none;
   color: #000000;
   background: #f5f5dc;
   cursor: pointer;
   border-radius: 50px;
   text-align: center;
   justify-content: space-between;
 }

 button:hover {
   background: #d1d152;
   font-size: larger;
   color: #000;
 }